In [2]:
#Pkg.clone("https://github.com/accounto/MLTools.git")
using DataFrames
using Plots
using MLTools
using StatsBase
using Query
plotlyjs()

df = readtable("train.csv");

In [3]:
# Untersuche nochmals die Daten und Bestimme den Typ für jede Variable:
names(df)

12-element Array{Symbol,1}:
 :PassengerId
 :Survived
 :Pclass
 :Name
 :Sex
 :Age
 :SibSp
 :Parch
 :Ticket
 :Fare
 :Cabin
 :Embarked

In [81]:
survivors = @from row in df begin
    @where row.Survived == 1
    @select {row.Survived, row.Pclass, row.Age, row.Sex, row.SibSp, row.Parch, row.Fare, row.Embarked}
    @collect DataFrame
end

deads = @from row in df begin
    @where row.Survived == 0
    @select {row.Survived, row.Pclass, row.Age, row.Sex, row.SibSp, row.Parch, row.Fare, row.Embarked}
    @collect DataFrame
end

rich_chicks = @from row in df begin
    @where row.Sex == "female" && row.Pclass == 1 && row.Survived == 0
    @select {row.Name, row.Survived, row.Pclass, row.Age, row.Sex, row.SibSp, row.Parch, row.Fare, row.Embarked}
    @collect DataFrame
end

3×9 DataFrames.DataFrame
│ Row │ Name                                              │ Survived │ Pclass │
├─────┼───────────────────────────────────────────────────┼──────────┼────────┤
│ 1   │ "Isham, Miss. Ann Elizabeth"                      │ 0        │ 1      │
│ 2   │ "Allison, Miss. Helen Loraine"                    │ 0        │ 1      │
│ 3   │ "Allison, Mrs. Hudson J C (Bessie Waldo Daniels)" │ 0        │ 1      │

│ Row │ Age  │ Sex      │ SibSp │ Parch │ Fare    │ Embarked │
├─────┼──────┼──────────┼───────┼───────┼─────────┼──────────┤
│ 1   │ 50.0 │ "female" │ 0     │ 0     │ 28.7125 │ "C"      │
│ 2   │ 2.0  │ "female" │ 1     │ 2     │ 151.55  │ "S"      │
│ 3   │ 25.0 │ "female" │ 1     │ 2     │ 151.55  │ "S"      │

In [75]:
proportionmap(survivors[:])

Dict{Union{DataArrays.NAtype,Int64},Float64} with 1 entry:
  1 => 1.0

In [73]:
proportionmap(deads[:Pclass])

Dict{Union{DataArrays.NAtype,Int64},Float64} with 3 entries:
  2 => 0.23662
  3 => 0.588732
  1 => 0.174648

In [79]:
countmap(rich_chicks[:Survived])

Dict{Union{DataArrays.NAtype,Int64},Int64} with 2 entries:
  0 => 3
  1 => 91