In [8]:
using DataFrames
using Plots

df = readtable("train.csv");

# Variablen-Typen
Für statistische Variablen lassen sich gewisse Kenngrössen bestimmen welche die 
**allgemeine/durchschnittliche Tendenz**, die **Streuung** oder die **Form** der zugrundeliegenden
Verteilung beschreiben. Je nach dem welche von diesen Grössen für den konkreten Fall (=Variable)
wohldefiniert sind, kann man zwischen 3 Haupttypen unterscheiden.

### Allgemeine Tendenz
- Arithmetisches Mittel: $\bar{x} = \frac{1}{n}\sum_{i=1}^n x_i$
- Median: Es gibt $\frac{n}{2}$ Werte die Grösser sind als der Median und $\frac{n}{2}$ die kleiner sind.
- Mode: Der am häufigsten vorkommende Wert.

### Streuung
- Gesamter Wertebereich (min bis max)
- Quantile (die ersten, zweiten, letzten.. x-ten Prozent)
- Varianz: $\sigma^2 = \frac{1}{n}\sum_{i=1}^n (x_i - \bar{x})^2$
- Standardabweichung: $\sigma = \sqrt{\sigma^2}$

### Form
- Skewness (Schiefe): Wie symmetrisch ist die Verteilung? $\frac{1}{n}\sum_{i=1}^n (x_i - \bar{x})^3$
- Kurtosis (Wölbung): Wie spitzig ist die Verteilung $\frac{1}{n}\sum_{i=1}^n (x_i - \bar{x})^4$

# Quantitative Variablen
Lassen Berechnungen für alle oben genannten Kenngrössen zu und
werden in der Regel durch Reale Zahlen dargestellt, wie z.B:
- Körpergewicht in kg
- Temperatur in Grad Kelvin
- Kokainverbrauch pro Person pro Jahr
- Anzahl Einwohner

Weiter liegt Quantitativen Variablen eine sinnvolle numerische Skala zugrunde auf der sich eine
"Distanz" berechnen lässt. Als Beispiel ist es sinnvoll zu sagen 2000 kg sind 4 mal so viel wie 500 kg.

**Alle oben genannten Kenngrössen sind wohldefiniert.**

# Ordinale Variablen
Haben keine sinnvolle nuerische Skala als Grundlage, es gibt aber eine eindeutig definierte Reihenfolge der Elemente. Man kann also Elemente sortieren, aber keine sinnvolle euklidische Distanz zwischen ihen Bestimmen.
- Hausnummern
- T-shirt Grössen
- Akunto Abo-Preise

**Definierte Kenngrössen: Reihenfolge, Median, Mode, Quantile**

# Kategorische Variablen
Es lassen sich weder eine Reihenfolge, noch eine Distanz zwischen Elementen sinnvoll definieren.

- Farben
- Vornamen
- Nationalität

**Definierte Kenngrössen: Mode**

In [9]:
# Untersuche nochmals die Daten und Bestimme den Typ für jede Variable:
names(df)

12-element Array{Symbol,1}:
 :PassengerId
 :Survived
 :Pclass
 :Name
 :Sex
 :Age
 :SibSp
 :Parch
 :Ticket
 :Fare
 :Cabin
 :Embarked

In [10]:
function onehot!(df, varname)
    for keyword in unique(df[:, varname])
        sym_keyword = Symbol(keyword)
        df[sym_keyword] = zeros(Int, size(df, 1))
        for i in 1:size(df, 1)
            if df[i, varname] == keyword
                df[i, sym_keyword] = 1
            end
        end
    end
end

function binarize!(df, varname)
    tmp = zeros(Int, size(df, 1))
    for (i, keyword) in enumerate(unique(df[varname]))
        flt = df[varname] .== keyword
        tmp[flt] = i-1
    end
    df[varname] = tmp
end

WARNING: Method definition onehot!(Any, Any) in module Main at In[3]:2 overwritten at In[10]:2.
WARNING: Method definition binarize!(Any, Any) in module Main at In[3]:14 overwritten at In[10]:14.

binarize! (generic function with 1 method)

In [11]:
df[isna(df[:Embarked]), :Embarked] = "S"
onehot!(df, :Embarked)
binarize!(df, :Sex);

In [12]:
df

891×15 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 880 │ 880         │ 1        │ 1      │
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex │ Age  │
├─────┼───────────────────────────────────────────────────────┼─────┼──────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ 0   │ 22.0 │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ 1   │ 38.0 │
│ 3   │ "Heikkinen, Miss. Laina"                              │ 1   │ 26.0 │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ 1   │ 35.0 │
│ 5   │ "Allen, Mr. William Henry"                            │ 0   │ 35.0 │
│ 6   │ "Moran, Mr. James"                                    │ 0   │ NA   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ 0   │ 54.0 │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ 0   │ 2.0  │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ 1   │ 27.0 │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ 1   │ 14.0 │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ 1   │ 4.0  │
⋮
│ 880 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ 1   │ 56.0 │
│ 881 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ 1   │ 25.0 │
│ 882 │ "Markun, Mr. Johann"                                  │ 0   │ 33.0 │
│ 883 │ "Dahlberg, Miss. Gerda Ulrika"                        │ 1   │ 22.0 │
│ 884 │ "Banfield, Mr. Frederick James"                       │ 0   │ 28.0 │
│ 885 │ "Sutehall, Mr. Henry Jr"                              │ 0   │ 25.0 │
│ 886 │ "Rice, Mrs. William (Margaret Norton)"                │ 1   │ 39.0 │
│ 887 │ "Montvila, Rev. Juozas"                               │ 0   │ 27.0 │
│ 888 │ "Graham, Miss. Margaret Edith"                        │ 1   │ 19.0 │
│ 889 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ 1   │ NA   │
│ 890 │ "Behr, Mr. Karl Howell"                               │ 0   │ 26.0 │
│ 891 │ "Dooley, Mr. Patrick"                                 │ 0   │ 32.0 │

│ Row │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │ Embarked │ S │
├─────┼───────┼───────┼────────────────────┼─────────┼────────┼──────────┼───┤
│ 1   │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │ "S"      │ 1 │
│ 2   │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │ "C"      │ 0 │
│ 3   │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │ "S"      │ 1 │
│ 4   │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │ "S"      │ 1 │
│ 5   │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │ "S"      │ 1 │
│ 6   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │ "Q"      │ 0 │
│ 7   │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │ "S"      │ 1 │
│ 8   │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │ "S"      │ 1 │
│ 9   │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │ "S"      │ 1 │
│ 10  │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │ "C"      │ 0 │
│ 11  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │ "S"      │ 1 │
⋮
│ 880 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │ "C"      │ 0 │
│ 881 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │ "S"      │ 1 │
│ 882 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │ "S"      │ 1 │
│ 883 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │ "S"      │ 1 │
│ 884 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │ "S"      │ 1 │
│ 885 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │ "S"      │ 1 │
│ 886 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │ "Q"      │ 0 │
│ 887 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │ "S"      │ 1 │
│ 888 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │ "S"      │ 1 │
│ 889 │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │ "S"      │ 1 │
│ 890 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │ "C"      │ 0 │
│ 891 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │ "Q"      │ 0 │

│ Row │ C │ Q │
├─────┼───┼───┤
│ 1   │ 0 │ 0 │
│ 2   │ 1 │ 0 │
│ 3   │ 0 │ 0 │
│ 4   │ 0 │ 0 │
│ 5   │ 0 │ 0 │
│ 6   │ 0 │ 1 │
│ 7   │ 0 │ 0 │
│ 8   │ 0 │ 0 │
│ 9   │ 0 │ 0 │
│ 10  │ 1 │ 0 │
│ 11  │ 0 │ 0 │
⋮
│ 880 │ 1 │ 0 │
│ 881 │ 0 │ 0 │
│ 882 │ 0 │ 0 │
│ 883 │ 0 │ 0 │
│ 884 │ 0 │ 0 │
│ 885 │ 0 │ 0 │
│ 886 │ 0 │ 1 │
│ 887 │ 0 │ 0 │
│ 888 │ 0 │ 0 │
│ 889 │ 0 │ 0 │
│ 890 │ 1 │ 0 │
│ 891 │ 0 │ 1 │

In [26]:
@show(mean(dropna(df[:Age])))
@show(median(dropna(df[:Age])))
@show(mode(dropna(df[:Age])))
histogram(dropna(df[:Age]), bins=0:4:80, show=true)

mean(dropna(df[:Age])) = 29.69911764705882
median(dropna(df[:Age])) = 28.0
mode(dropna(df[:Age])) = 24.0

In [28]:
agenew = copy(df[:Age]);
flt = isna(agenew)
agenew[flt] = 30

30

In [36]:
df[flt,:]

177×15 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 6           │ 0        │ 3      │
│ 2   │ 18          │ 1        │ 2      │
│ 3   │ 20          │ 1        │ 3      │
│ 4   │ 27          │ 0        │ 3      │
│ 5   │ 29          │ 1        │ 3      │
│ 6   │ 30          │ 0        │ 3      │
│ 7   │ 32          │ 1        │ 1      │
│ 8   │ 33          │ 1        │ 3      │
│ 9   │ 37          │ 1        │ 3      │
│ 10  │ 43          │ 0        │ 3      │
│ 11  │ 46          │ 0        │ 3      │
⋮
│ 166 │ 827         │ 0        │ 3      │
│ 167 │ 829         │ 1        │ 3      │
│ 168 │ 833         │ 0        │ 3      │
│ 169 │ 838         │ 0        │ 3      │
│ 170 │ 840         │ 1        │ 1      │
│ 171 │ 847         │ 0        │ 3      │
│ 172 │ 850         │ 1        │ 1      │
│ 173 │ 860         │ 0        │ 3      │
│ 174 │ 864         │ 0        │ 3      │
│ 175 │ 869         │ 0        │ 3      │
│ 176 │ 879         │ 0        │ 3      │
│ 177 │ 889         │ 0        │ 3      │

│ Row │ Name                                             │ Sex │ Age │ SibSp │
├─────┼──────────────────────────────────────────────────┼─────┼─────┼───────┤
│ 1   │ "Moran, Mr. James"                               │ 0   │ NA  │ 0     │
│ 2   │ "Williams, Mr. Charles Eugene"                   │ 0   │ NA  │ 0     │
│ 3   │ "Masselmani, Mrs. Fatima"                        │ 1   │ NA  │ 0     │
│ 4   │ "Emir, Mr. Farred Chehab"                        │ 0   │ NA  │ 0     │
│ 5   │ "O'Dwyer, Miss. Ellen \"Nellie\""                  │ 1   │ NA  │ 0     │
│ 6   │ "Todoroff, Mr. Lalio"                            │ 0   │ NA  │ 0     │
│ 7   │ "Spencer, Mrs. William Augustus (Marie Eugenie)" │ 1   │ NA  │ 1     │
│ 8   │ "Glynn, Miss. Mary Agatha"                       │ 1   │ NA  │ 0     │
│ 9   │ "Mamee, Mr. Hanna"                               │ 0   │ NA  │ 0     │
│ 10  │ "Kraeff, Mr. Theodor"                            │ 0   │ NA  │ 0     │
│ 11  │ "Rogers, Mr. William John"                       │ 0   │ NA  │ 0     │
⋮
│ 166 │ "Lam, Mr. Len"                                   │ 0   │ NA  │ 0     │
│ 167 │ "McCormack, Mr. Thomas Joseph"                   │ 0   │ NA  │ 0     │
│ 168 │ "Saad, Mr. Amin"                                 │ 0   │ NA  │ 0     │
│ 169 │ "Sirota, Mr. Maurice"                            │ 0   │ NA  │ 0     │
│ 170 │ "Marechal, Mr. Pierre"                           │ 0   │ NA  │ 0     │
│ 171 │ "Sage, Mr. Douglas Bullen"                       │ 0   │ NA  │ 8     │
│ 172 │ "Goldenberg, Mrs. Samuel L (Edwiga Grabowska)"   │ 1   │ NA  │ 1     │
│ 173 │ "Razi, Mr. Raihed"                               │ 0   │ NA  │ 0     │
│ 174 │ "Sage, Miss. Dorothy Edith \"Dolly\""              │ 1   │ NA  │ 8     │
│ 175 │ "van Melkebeke, Mr. Philemon"                    │ 0   │ NA  │ 0     │
│ 176 │ "Laleff, Mr. Kristo"                             │ 0   │ NA  │ 0     │
│ 177 │ "Johnston, Miss. Catherine Helen \"Carrie\""       │ 1   │ NA  │ 1     │

│ Row │ Parch │ Ticket            │ Fare    │ Cabin │ Embarked │ S │ C │ Q │
├─────┼───────┼───────────────────┼─────────┼───────┼──────────┼───┼───┼───┤
│ 1   │ 0     │ "330877"          │ 8.4583  │ NA    │ "Q"      │ 0 │ 0 │ 1 │
│ 2   │ 0     │ "244373"          │ 13.0    │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 3   │ 0     │ "2649"            │ 7.225   │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 4   │ 0     │ "2631"            │ 7.225   │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 5   │ 0     │ "330959"          │ 7.8792  │ NA    │ "Q"      │ 0 │ 0 │ 1 │
│ 6   │ 0     │ "349216"          │ 7.8958  │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 7   │ 0     │ "PC 17569"        │ 146.521 │ "B78" │ "C"      │ 0 │ 1 │ 0 │
│ 8   │ 0     │ "335677"          │ 7.75    │ NA    │ "Q"      │ 0 │ 0 │ 1 │
│ 9   │ 0     │ "2677"            │ 7.2292  │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 10  │ 0     │ "349253"          │ 7.8958  │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 11  │ 0     │ "S.C./A.4. 23567" │ 8.05    │ NA    │ "S"      │ 1 │ 0 │ 0 │
⋮
│ 166 │ 0     │ "1601"            │ 56.4958 │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 167 │ 0     │ "367228"          │ 7.75    │ NA    │ "Q"      │ 0 │ 0 │ 1 │
│ 168 │ 0     │ "2671"            │ 7.2292  │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 169 │ 0     │ "392092"          │ 8.05    │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 170 │ 0     │ "11774"           │ 29.7    │ "C47" │ "C"      │ 0 │ 1 │ 0 │
│ 171 │ 2     │ "CA. 2343"        │ 69.55   │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 172 │ 0     │ "17453"           │ 89.1042 │ "C92" │ "C"      │ 0 │ 1 │ 0 │
│ 173 │ 0     │ "2629"            │ 7.2292  │ NA    │ "C"      │ 0 │ 1 │ 0 │
│ 174 │ 2     │ "CA. 2343"        │ 69.55   │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 175 │ 0     │ "345777"          │ 9.5     │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 176 │ 0     │ "349217"          │ 7.8958  │ NA    │ "S"      │ 1 │ 0 │ 0 │
│ 177 │ 2     │ "W./C. 6607"      │ 23.45   │ NA    │ "S"      │ 1 │ 0 │ 0 │

In [33]:
sum(flt)

177

In [34]:
length(flt)

891